---
# Documentation: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
BasedOnStyle: Webkit
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Never
    AfterFunction: true
    SplitEmptyFunction: false
# BreakBeforeBinaryOperators: NonAssignment
# ColumnLimit: 100 # original: 180; TODO: Set this to something more reasonable - maybe 100?
# Cpp11BracedListStyle: true
# SpaceBeforeCpp11BracedList: false
# PenaltyReturnTypeOnItsOwnLine: 1000000
# StatementMacros:
#     - ParseJson
#     - ParseJsonNoReset
#     - CreateJson
#     - ReturnJson
#     - ForceJsonValue
#     - GetJsonValue
#     - GetJsonValueEx
#     - GetJsonValueAlt
#     - AddJsonValue
#     - AddJsonValueEx
# TabWidth: 4
# UseTab: Never
# ---